[package]
name = "i3status-rs"
description = "A feature-rich and resource-friendly replacement for i3status, written in Rust."
repository = "https://github.com/greshake/i3status-rust/"
readme = "README.md"
license = "GPL-3.0-only"
version = "0.30.0"
authors = ["Kai Greshake <development@kai-greshake.de>",
           "Contributors on GitHub (https://github.com/greshake/i3status-rust/graphs/contributors)"]
edition = "2021"

[features]
# Make widgets' borders visible. (for debugging purposes)
debug_borders = []
# console = ["console-subscriber"]

[dependencies]
# console-subscriber = { version = "*", optional = true }

derivative = "2.2"
signal-hook = "0.3"
nix = "0.23"
serde_derive = "1.0"
serde_json = "1.0"
toml = "0.5"
libc = "0.2"
inotify = "0.9"
tokio-stream = "0.1"
async-trait = "0.1"
regex = "1.5"
once_cell = "1"
shellexpand = "2.1"
hyper = "0.14"
sensors = "0.2.2"

notmuch = { version = "0.7", optional = true }

# TODO: make optional
maildir = "0.5"

crossbeam-channel = "0.5"
libpulse-binding = { version = "2.0", default-features = false }

neli = "0.6"
neli-wifi = { version = "0.3", features = ["async"] }

# swayipc-async = { path = "../swayipc-rs/async", default-features = false, features = ["tokio"] }
swayipc-async = "2.0"

# zbus = { path = "../zbus/zbus", default-features = false, features = ["tokio"] }
# zvariant = { path = "../zbus/zvariant" }
# zbus = { git = "https://gitlab.freedesktop.org/dbus/zbus.git" }
# zvariant = { git = "https://gitlab.freedesktop.org/dbus/zbus.git" }
zbus = { version = "2.1", default-features = false, features = ["tokio"]}
zvariant = "3.0"

# TODO: remove
color_space = "0.5"

[dependencies.clap]
version = "3.0"
default-features = false
features = ["std", "derive"]

[dependencies.smallvec]
version = "1.7"
features = ["union", "const_generics"]

[dependencies.smartstring]
version = "0.2"
features = ["serde"]

[dependencies.serde]
version = "1.0"
features = ["rc"]

[dependencies.tokio]
version = "1.12"
features = [
  "fs",
  #"io-util",
  "io-std",
  "macros",
  #"net",
  #"parking_lot",
  "process",
  "rt",
  "rt-multi-thread",
  #"signal",
  "sync",
  "time",
]

[dependencies.futures]
version = "0.3"
default-features = false

[dependencies.chrono]
version = "0.4"
default-features = false
features = ["clock", "unstable-locales"]

[dependencies.chrono-tz]
version = "0.5"
features = ["serde"]

[dependencies.signal-hook-tokio]
version = "0.3"
features = ["futures-v0_3"]

[dependencies.reqwest]
version = "0.11"
features = ["json"]

# Test async code
[dev-dependencies]
tokio-test = "*"

[profile.release]
lto = "thin"
debug = 1
