[package]
name = "i3status-rs"
description = "A feature-rich and resource-friendly replacement for i3status, written in Rust."
repository = "https://github.com/greshake/i3status-rust/"
readme = "README.md"
license = "GPLv3"
version = "0.14.5"
authors = ["Kai Greshake <development@kai-greshake.de>",
           "Contributors on GitHub (https://github.com/greshake/i3status-rust/graphs/contributors)"]
edition = "2018"

[features]
default = ["pulseaudio"]
pulseaudio = ["libpulse-binding"]
# Opt-in block profiling, intended for developers.
profiling = ["cpuprofiler", "progress"]

[dependencies]
crossbeam-channel = "0.5"
curl = "0.4"
dbus = "0.8"
lazy_static = "1.0"
maildir = "0.5"
nix = "0.19.0"
num-traits = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
swayipc = "2.7"
toml = "0.5"
signal-hook = "0.3"

# Optional features/blocks
libpulse-binding = { optional = true, version = "2.15.0", default-features = false }
notmuch = { optional = true, version = "0.6.0" }
# Used only in debug build for profiling blocks
cpuprofiler = { version = "0.0.4", optional = true }
progress = { version = "0.2", optional = true }

[dependencies.chrono]
version = "0.4"
features = ["unstable-locales"]

[dependencies.chrono-tz]
version = "0.5"
features = ["serde"]

[dependencies.clap]
version = "2.31"
default-features = false

[dependencies.inotify]
version = "0.9"
default-features = false

[dependencies.regex]
version = "1.3.0"
default-features = false
features = ["std"]

[dev-dependencies]
assert_fs = "1.0.0"
