[package]
name = "i3status-rs"
description = "A feature-rich and resource-friendly replacement for i3status, written in Rust."
repository = "https://github.com/greshake/i3status-rust/"
readme = "README.md"
license = "GPL-3.0-only"
version = "0.32.2"
authors = [
  "Kai Greshake <development@kai-greshake.de>",
  "Contributors on GitHub (https://github.com/greshake/i3status-rust/graphs/contributors)",
]
edition = "2021"

[workspace]
members = [".", "xtask"]

[features]
default = ["pulseaudio"]
pulseaudio = ["libpulse-binding"]
maildir = ["dep:maildir", "glob"]
debug_borders = []                # Make widgets' borders visible

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-once-cell = "0.5"
async-trait = "0.1"
backon = "0.4.1"
calibright = { version = "0.1", features = ["watch"] }
chrono = { version = "0.4", default-features = false, features = ["clock", "unstable-locales"] }
chrono-tz = { version = "0.8", features = ["serde"] }
clap = { version = "4.0", default-features = false, features = ["std", "derive", "help", "usage"] }
dirs = "5.0"
env_logger = "0.10"
futures = { version = "0.3", default-features = false }
glob = { version = "0.3.1", optional = true }
hyper = "0.14"
icu_datetime = "1.3.0"
icu_calendar = "1.3.0"
icu_locid = "1.3.0"
inotify = "0.10"
libc = "0.2"
libpulse-binding = { version = "2.0", default-features = false, optional = true }
log = "0.4"
maildir = { version = "0.6", optional = true }
neli = { version = "0.6", features = ["async"] }
neli-wifi = { version = "0.6", features = ["async"] }
nix = { version = "0.27", features = ["fs", "process"] }
nom = "7.1.2"
notmuch = { version = "0.8", optional = true }
once_cell = "1"
regex = "1.5"
reqwest = { version = "0.11", features = ["json"] }
sensors = "0.2.2"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_with = "3.0"
shellexpand = "3.0"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = ["futures-v0_3"] }
smart-default = "0.7"
swayipc-async = "2.0"
thiserror = "1.0"
toml = "0.8"
unicode-segmentation = "1.10.1"
wayrs-client = { version = "0.12", features = ["tokio"] }
wayrs-protocols = { version = "0.12", features = ["wlr-foreign-toplevel-management-unstable-v1"] }
zbus = { version = "3.14", default-features = false, features = ["tokio"] }

[dependencies.tokio]
version = "1.12"
features = [
  "fs",
  #"io-util",
  "io-std",
  "macros",
  #"net",
  #"parking_lot",
  "process",
  "rt",
  "rt-multi-thread",
  #"signal",
  "sync",
  "time",
]

[profile.release]
lto = "thin"

[profile.release-debug-info]
inherits = "release"
debug = true
