[package]
name = "i3status-rs"
version = "0.1.0"
authors = ["XYunknown <developement@kai-greshake.de>"]

[dependencies]
chrono = "0.2"
regex = "0.2"
serde = "0.9"
serde_derive = "0.9"
serde_json = "0.9"
lazy_static = "0.2"