[package]
name = "i3status-rs"
version = "0.1.0"
authors = ["XYunknown <developement@kai-greshake.de>"]

[dependencies]
chrono = "0.2"
serde = "0.9"
serde_derive = "0.9"
serde_json = "0.9"
clap = "2.23.2"
uuid = { version = "0.4", features = ["v4"] }
dbus = "0.5.2"
regex = "0.2"
nix = "0.8.1"
# Used only in debug build mode
# for profiling blocks
cpuprofiler = "0.0.3"
progress = "0.2"