[package]
name = "i3status-rs"
description = "A feature-rich and resource-friendly replacement for i3status, written in Rust."
repository = "https://github.com/greshake/i3status-rust/"
readme = "README.md"
license = "GPL-3.0-only"
version = "0.30.0"
authors = [
  "Kai Greshake <development@kai-greshake.de>",
  "Contributors on GitHub (https://github.com/greshake/i3status-rust/graphs/contributors)",
]
edition = "2021"

[features]
default = ["pulseaudio"]
pulseaudio = ["libpulse-binding"]
debug_borders = []                # Make widgets' borders visible

[dependencies]
async-once-cell = "0.4"
async-trait = "0.1"
crossbeam-channel = "0.5"
dirs-next = "2.0"                                                                 # dependency of shellexpand
env_logger = "0.9"
hyper = "0.14"
inotify = "0.10"
libc = "0.2"
libpulse-binding = { version = "2.0", default-features = false, optional = true }
log = "0.4"
maildir = { version = "0.6", optional = true }
neli = { version = "0.6", features = ["async"] }
neli-wifi = { version = "0.4", features = ["async"] }
nix = "0.24"
notmuch = { version = "0.8", optional = true }
once_cell = "1"
regex = "1.5"
sensors = "0.2.2"
serde_json = "1.0"
shellexpand = "2.1"
signal-hook = "0.3"
smart-default = "0.6"
swayipc-async = "2.0"
tokio-stream = "0.1"
toml = "0.5"
zbus = { version = "2.1", default-features = false, features = ["tokio"] }
zvariant = "3.0"

[dependencies.clap]
version = "3.0"
default-features = false
features = ["std", "derive"]

[dependencies.serde]
version = "1.0"
features = ["derive", "rc"]

[dependencies.tokio]
version = "1.12"
features = [
  "fs",
  #"io-util",
  "io-std",
  "macros",
  #"net",
  #"parking_lot",
  "process",
  "rt",
  "rt-multi-thread",
  #"signal",
  "sync",
  "time",
]

[dependencies.futures]
version = "0.3"
default-features = false

[dependencies.chrono]
version = "0.4"
default-features = false
features = ["clock", "unstable-locales"]

[dependencies.chrono-tz]
version = "0.6"
features = ["serde"]

[dependencies.signal-hook-tokio]
version = "0.3"
features = ["futures-v0_3"]

[dependencies.reqwest]
version = "0.11"
features = ["json"]

# Test async code
[dev-dependencies]
tokio-test = "*"

[profile.release]
lto = "thin"
strip = true
debug = 1
