on: [push, pull_request]

name: Rust

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Get required packages
        run: sudo apt-get install libsensors-dev libssl-dev libpulse-dev libnotmuch-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Get required packages
        run: sudo apt-get install libsensors-dev libssl-dev libpulse-dev libnotmuch-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Get required packages
        run: sudo apt-get install libsensors-dev libssl-dev libpulse-dev libnotmuch-dev fd-find
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - name: Fmt check
        run: rustfmt --check --edition 2021 $(fd -e rs)

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Get required packages
        run: sudo apt-get install libsensors-dev libssl-dev libpulse-dev libnotmuch-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features -- -D warnings -A unknown-lints
